#wich user should deploy the app ? Replace "username" by your username
ME="username"

#ask for tagname
echo Which tag shall we deploy? - empty for master branch -
read versionTag

#or set a version number
#versionTag='0.0.1'

#where you app should be deployed
deployPath="/path/to/deploy/${environnement}"

#your git repository
gitPath="git@github.com:user/repo.git"

#path for your config files so they are not in your git repository
configPath="../../config/"

#current dateTime used for destination directory
releaseDate=$(date '+%Y%m%d%H%M%S')

#shared folder to link to (without final /)
shared[0]="storage"
#shared[1]="..."
#shared[2]="..."
