#ask for tagname
echo Which tag sall we deploy?
read versionTag

#or set a version number
#versionTag='0.0.1'

#where you app should be deployed
deployPath="/path/to/deploy"

#your git repository
gitPath="git@github.com:user/repo.git"

#current dateTime used for destination dirrectory
releaseDate=$(date '+%Y%m%d%H%M%S')
